@model List<CarRental.Models.ViewModels.Booking.HistoryViewModel>

@{
    ViewData["Title"] = "Booking History";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Car Make</th>
            <th>Car Model</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.Make</td>
                <td>@booking.Model</td>
                <td>@booking.StartDate.ToString("yyyy-MM-dd")</td>
                <td>@booking.EndDate.ToString("yyyy-MM-dd")</td>
                <td>@booking.TotalPrice.ToString("C")</td>

                <td>
                    @if (booking.EndDate < DateTime.Now)
                    {
                        <p>Returned</p>
                    }
                    else
                    {
                        <form asp-action="Return" asp-controller="Booking" method="get">
                            <input type="hidden" name="BookingId" value="@booking.BookingId" />
                            <button type="submit" class="btn btn-primary">Return</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    setTimeout(function () {
        let alerts = document.querySelectorAll('.alert');
        alerts.forEach(alert => alert.classList.remove('show'));
    }, 3000);
</script>
